In [1]:
import pandas as pd
import os
import sqlite3

In [2]:
# %%capture
# %load_ext sql

In [2]:
projectPath = "C:/sandbox"

In [3]:
os.getcwd()

'C:\\Users\\EMJOE\\Documents\\Workstation'

In [4]:
os.chdir(projectPath)

In [5]:
os.getcwd()

'C:\\sandbox'

In [7]:
# %sql sqlite:///hubway.db

In [7]:
conn = sqlite3.connect('hubway.db')
cur = conn.cursor()

In [8]:
%sql select name from sqlite_master where type = 'table'

UsageError: Line magic function `%sql` not found.

In [9]:
df = pd.read_csv('titanic_data_cleaned.csv')
df

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,896,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
897,897,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
898,898,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
899,899,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
900,900,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True

In [10]:
dfList = list(df.columns)
dfList

['Unnamed: 0',
 'survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [11]:
len(dfList)

16

In [15]:
%sql create table titanic_data (ID TEXT, survived INT, pclass INT, sex TEXT, age INT, sibsp INT, parch INT, fare INT, embarked TEXT, classes TEXT, who TEXT, adult_male TEXT, deck TEXT, embark_town TEXT, alive TEXT, alone TEXT)

 * sqlite:///hubway.db
Done.

[]

In [13]:
#%sql select name from sqlite_master where type = 'table'
checkQuery = "select name from sqlite_master where type = 'table'"
cur.execute(checkQuery)
print(cur.fetchall())

[('instructor',), ('daibetes',), ('diamonds',), ('winequality_red',), ('directory',), ('titanic_data',)]

In [28]:
%sql select * from titanic_data

 * sqlite:///hubway.db
Done.

[]

In [19]:
rows = df.values
rows

array([[0, 0, 3, ..., 'Southampton', 'no', False],
       [1, 1, 1, ..., 'Cherbourg', 'yes', False],
       [2, 1, 3, ..., 'Southampton', 'yes', True],
       ...,
       [898, 0, 2, ..., 'Southampton', 'no', True],
       [899, 1, 2, ..., 'Southampton', 'yes', True],
       [900, 1, 3, ..., 'Queenstown', 'yes', True]], dtype=object)

In [23]:
rowTuple2 = tuple(df.itertuples(index=False, name=None))
rowTuple2

((0,
  0,
  3,
  'male',
  22.0,
  1,
  0,
  7.25,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (1,
  1,
  1,
  'female',
  38.0,
  1,
  0,
  71.2833,
  'C',
  'First',
  'woman',
  False,
  'C',
  'Cherbourg',
  'yes',
  False),
 (2,
  1,
  3,
  'female',
  26.0,
  0,
  0,
  7.925,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (3,
  1,
  1,
  'female',
  35.0,
  1,
  0,
  53.1,
  'S',
  'First',
  'woman',
  False,
  'C',
  'Southampton',
  'yes',
  False),
 (4,
  0,
  3,
  'male',
  35.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (5,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.4583,
  'Q',
  'Third',
  'man',
  True,
  nan,
  'Queenstown',
  'no',
  True),
 (6,
  0,
  1,
  'male',
  54.0,
  0,
  0,
  51.8625,
  'S',
  'First',
  'man',
  True,
  'E',
  'Southampton',
  'no',
  True),
 (7,
  0,
  3,
  'male',
  2.0,
  3,
  1,
  21.075,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (8,
  1,
  3,
  'female',
  27.0,
  0,
  2,
  11.1333,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (9,
  1,
  2,
  'female',
  14.0,
  1,
  0,
  30.0708,
  'C',
  'Second',
  'child',
  False,
  nan,
  'Cherbourg',
  'yes',
  False),
 (10,
  1,
  3,
  'female',
  4.0,
  1,
  1,
  16.7,
  'S',
  'Third',
  'child',
  False,
  'G',
  'Southampton',
  'yes',
  False),
 (11,
  1,
  1,
  'female',
  58.0,
  0,
  0,
  26.55,
  'S',
  'First',
  'woman',
  False,
  'C',
  'Southampton',
  'yes',
  True),
 (12,
  0,
  3,
  'male',
  20.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (13,
  0,
  3,
  'male',
  39.0,
  1,
  5,
  31.275,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (14,
  0,
  3,
  'female',
  14.0,
  0,
  0,
  7.8542,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  True),
 (15,
  1,
  2,
  'female',
  55.0,
  0,
  0,
  16.0,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (16,
  0,
  3,
  'male',
  2.0,
  4,
  1,
  29.125,
  'Q',
  'Third',
  'child',
  False,
  nan,
  'Queenstown',
  'no',
  False),
 (17,
  1,
  2,
  'male',
  nan,
  0,
  0,
  13.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (18,
  0,
  3,
  'female',
  31.0,
  1,
  0,
  18.0,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (19,
  1,
  3,
  'female',
  nan,
  0,
  0,
  7.225,
  'C',
  'Third',
  'woman',
  False,
  nan,
  'Cherbourg',
  'yes',
  True),
 (20,
  0,
  2,
  'male',
  35.0,
  0,
  0,
  26.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (21,
  1,
  2,
  'male',
  34.0,
  0,
  0,
  13.0,
  'S',
  'Second',
  'man',
  True,
  'D',
  'Southampton',
  'yes',
  True),
 (22,
  1,
  3,
  'female',
  15.0,
  0,
  0,
  8.0292,
  'Q',
  'Third',
  'child',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (23,
  1,
  1,
  'male',
  28.0,
  0,
  0,
  35.5,
  'S',
  'First',
  'man',
  True,
  'A',
  'Southampton',
  'yes',
  True),
 (24,
  0,
  3,
  'female',
  8.0,
  3,
  1,
  21.075,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (25,
  1,
  3,
  'female',
  38.0,
  1,
  5,
  31.3875,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (26,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.225,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (27,
  0,
  1,
  'male',
  19.0,
  3,
  2,
  263.0,
  'S',
  'First',
  'man',
  True,
  'C',
  'Southampton',
  'no',
  False),
 (28,
  1,
  3,
  'female',
  nan,
  0,
  0,
  7.8792,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (29,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (30,
  0,
  1,
  'male',
  40.0,
  0,
  0,
  27.7208,
  'C',
  'First',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (31,
  1,
  1,
  'female',
  nan,
  1,
  0,
  146.5208,
  'C',
  'First',
  'woman',
  False,
  'B',
  'Cherbourg',
  'yes',
  False),
 (32,
  1,
  3,
  'female',
  nan,
  0,
  0,
  7.75,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (33,
  0,
  2,
  'male',
  66.0,
  0,
  0,
  10.5,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (34,
  0,
  1,
  'male',
  28.0,
  1,
  0,
  82.1708,
  'C',
  'First',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  False),
 (35,
  0,
  1,
  'male',
  42.0,
  1,
  0,
  52.0,
  'S',
  'First',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (36,
  1,
  3,
  'male',
  nan,
  0,
  0,
  7.2292,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'yes',
  True),
 (37,
  0,
  3,
  'male',
  21.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (38,
  0,
  3,
  'female',
  18.0,
  2,
  0,
  18.0,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (39,
  1,
  3,
  'female',
  14.0,
  1,
  0,
  11.2417,
  'C',
  'Third',
  'child',
  False,
  nan,
  'Cherbourg',
  'yes',
  False),
 (40,
  0,
  3,
  'female',
  40.0,
  1,
  0,
  9.475,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (41,
  0,
  2,
  'female',
  27.0,
  1,
  0,
  21.0,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (42,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.8958,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (43,
  1,
  2,
  'female',
  3.0,
  1,
  2,
  41.5792,
  'C',
  'Second',
  'child',
  False,
  nan,
  'Cherbourg',
  'yes',
  False),
 (44,
  1,
  3,
  'female',
  19.0,
  0,
  0,
  7.8792,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (45,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (46,
  0,
  3,
  'male',
  nan,
  1,
  0,
  15.5,
  'Q',
  'Third',
  'man',
  True,
  nan,
  'Queenstown',
  'no',
  False),
 (47,
  1,
  3,
  'female',
  nan,
  0,
  0,
  7.75,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (48,
  0,
  3,
  'male',
  nan,
  2,
  0,
  21.6792,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  False),
 (49,
  0,
  3,
  'female',
  18.0,
  1,
  0,
  17.8,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (50,
  0,
  3,
  'male',
  7.0,
  4,
  1,
  39.6875,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (51,
  0,
  3,
  'male',
  21.0,
  0,
  0,
  7.8,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (52,
  1,
  1,
  'female',
  49.0,
  1,
  0,
  76.7292,
  'C',
  'First',
  'woman',
  False,
  'D',
  'Cherbourg',
  'yes',
  False),
 (53,
  1,
  2,
  'female',
  29.0,
  1,
  0,
  26.0,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (54,
  0,
  1,
  'male',
  65.0,
  0,
  1,
  61.9792,
  'C',
  'First',
  'man',
  True,
  'B',
  'Cherbourg',
  'no',
  False),
 (55,
  1,
  1,
  'male',
  nan,
  0,
  0,
  35.5,
  'S',
  'First',
  'man',
  True,
  'C',
  'Southampton',
  'yes',
  True),
 (56,
  1,
  2,
  'female',
  21.0,
  0,
  0,
  10.5,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (57,
  0,
  3,
  'male',
  28.5,
  0,
  0,
  7.2292,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (58,
  1,
  2,
  'female',
  5.0,
  1,
  2,
  27.75,
  'S',
  'Second',
  'child',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (59,
  0,
  3,
  'male',
  11.0,
  5,
  2,
  46.9,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (60,
  0,
  3,
  'male',
  22.0,
  0,
  0,
  7.2292,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (61,
  1,
  1,
  'female',
  38.0,
  0,
  0,
  80.0,
  nan,
  'First',
  'woman',
  False,
  'B',
  nan,
  'yes',
  True),
 (62,
  0,
  1,
  'male',
  45.0,
  1,
  0,
  83.475,
  'S',
  'First',
  'man',
  True,
  'C',
  'Southampton',
  'no',
  False),
 (63,
  0,
  3,
  'male',
  4.0,
  3,
  2,
  27.9,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (64,
  0,
  1,
  'male',
  nan,
  0,
  0,
  27.7208,
  'C',
  'First',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (65,
  1,
  3,
  'male',
  nan,
  1,
  1,
  15.2458,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'yes',
  False),
 (66,
  1,
  2,
  'female',
  29.0,
  0,
  0,
  10.5,
  'S',
  'Second',
  'woman',
  False,
  'F',
  'Southampton',
  'yes',
  True),
 (67,
  0,
  3,
  'male',
  19.0,
  0,
  0,
  8.1583,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (68,
  1,
  3,
  'female',
  17.0,
  4,
  2,
  7.925,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (69,
  0,
  3,
  'male',
  26.0,
  2,
  0,
  8.6625,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (70,
  0,
  2,
  'male',
  32.0,
  0,
  0,
  10.5,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (71,
  0,
  3,
  'female',
  16.0,
  5,
  2,
  46.9,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (72,
  0,
  2,
  'male',
  21.0,
  0,
  0,
  73.5,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (73,
  0,
  3,
  'male',
  26.0,
  1,
  0,
  14.4542,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  False),
 (74,
  1,
  3,
  'male',
  32.0,
  0,
  0,
  56.4958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (75,
  0,
  3,
  'male',
  25.0,
  0,
  0,
  7.65,
  'S',
  'Third',
  'man',
  True,
  'F',
  'Southampton',
  'no',
  True),
 (76,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (77,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (78,
  1,
  2,
  'male',
  0.83,
  0,
  2,
  29.0,
  'S',
  'Second',
  'child',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (79,
  1,
  3,
  'female',
  30.0,
  0,
  0,
  12.475,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (80,
  0,
  3,
  'male',
  22.0,
  0,
  0,
  9.0,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (81,
  1,
  3,
  'male',
  29.0,
  0,
  0,
  9.5,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (82,
  1,
  3,
  'female',
  nan,
  0,
  0,
  7.7875,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  True),
 (83,
  0,
  1,
  'male',
  28.0,
  0,
  0,
  47.1,
  'S',
  'First',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (84,
  1,
  2,
  'female',
  17.0,
  0,
  0,
  10.5,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (85,
  1,
  3,
  'female',
  33.0,
  3,
  0,
  15.85,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (86,
  0,
  3,
  'male',
  16.0,
  1,
  3,
  34.375,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (87,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (88,
  1,
  1,
  'female',
  23.0,
  3,
  2,
  263.0,
  'S',
  'First',
  'woman',
  False,
  'C',
  'Southampton',
  'yes',
  False),
 (89,
  0,
  3,
  'male',
  24.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (90,
  0,
  3,
  'male',
  29.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (91,
  0,
  3,
  'male',
  20.0,
  0,
  0,
  7.8542,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (92,
  0,
  1,
  'male',
  46.0,
  1,
  0,
  61.175,
  'S',
  'First',
  'man',
  True,
  'E',
  'Southampton',
  'no',
  False),
 (93,
  0,
  3,
  'male',
  26.0,
  1,
  2,
  20.575,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (94,
  0,
  3,
  'male',
  59.0,
  0,
  0,
  7.25,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (95,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (96,
  0,
  1,
  'male',
  71.0,
  0,
  0,
  34.6542,
  'C',
  'First',
  'man',
  True,
  'A',
  'Cherbourg',
  'no',
  True),
 (97,
  1,
  1,
  'male',
  23.0,
  0,
  1,
  63.3583,
  'C',
  'First',
  'man',
  True,
  'D',
  'Cherbourg',
  'yes',
  False),
 (98,
  1,
  2,
  'female',
  34.0,
  0,
  1,
  23.0,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (99,
  0,
  2,
  'male',
  34.0,
  1,
  0,
  26.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (100,
  0,
  3,
  'female',
  28.0,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  True),
 (101,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (102,
  0,
  1,
  'male',
  21.0,
  0,
  1,
  77.2875,
  'S',
  'First',
  'man',
  True,
  'D',
  'Southampton',
  'no',
  False),
 (103,
  0,
  3,
  'male',
  33.0,
  0,
  0,
  8.6542,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (104,
  0,
  3,
  'male',
  37.0,
  2,
  0,
  7.925,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (105,
  0,
  3,
  'male',
  28.0,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (106,
  1,
  3,
  'female',
  21.0,
  0,
  0,
  7.65,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (107,
  1,
  3,
  'male',
  nan,
  0,
  0,
  7.775,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (108,
  0,
  3,
  'male',
  38.0,
  0,
  0,
  7.8958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (109,
  1,
  3,
  'female',
  nan,
  1,
  0,
  24.15,
  'Q',
  'Third',
  'woman',
  False,
  nan,
  'Queenstown',
  'yes',
  False),
 (110,
  0,
  1,
  'male',
  47.0,
  0,
  0,
  52.0,
  'S',
  'First',
  'man',
  True,
  'C',
  'Southampton',
  'no',
  True),
 (111,
  0,
  3,
  'female',
  14.5,
  1,
  0,
  14.4542,
  'C',
  'Third',
  'child',
  False,
  nan,
  'Cherbourg',
  'no',
  False),
 (112,
  0,
  3,
  'male',
  22.0,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (113,
  0,
  3,
  'female',
  20.0,
  1,
  0,
  9.825,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (114,
  0,
  3,
  'female',
  17.0,
  0,
  0,
  14.4583,
  'C',
  'Third',
  'woman',
  False,
  nan,
  'Cherbourg',
  'no',
  True),
 (115,
  0,
  3,
  'male',
  21.0,
  0,
  0,
  7.925,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (116,
  0,
  3,
  'male',
  70.5,
  0,
  0,
  7.75,
  'Q',
  'Third',
  'man',
  True,
  nan,
  'Queenstown',
  'no',
  True),
 (117,
  0,
  2,
  'male',
  29.0,
  1,
  0,
  21.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (118,
  0,
  1,
  'male',
  24.0,
  0,
  1,
  247.5208,
  'C',
  'First',
  'man',
  True,
  'B',
  'Cherbourg',
  'no',
  False),
 (119,
  0,
  3,
  'female',
  2.0,
  4,
  2,
  31.275,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (120,
  0,
  2,
  'male',
  21.0,
  2,
  0,
  73.5,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (121,
  0,
  3,
  'male',
  nan,
  0,
  0,
  8.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (122,
  0,
  2,
  'male',
  32.5,
  1,
  0,
  30.0708,
  'C',
  'Second',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  False),
 (123,
  1,
  2,
  'female',
  32.5,
  0,
  0,
  13.0,
  'S',
  'Second',
  'woman',
  False,
  'E',
  'Southampton',
  'yes',
  True),
 (124,
  0,
  1,
  'male',
  54.0,
  0,
  1,
  77.2875,
  'S',
  'First',
  'man',
  True,
  'D',
  'Southampton',
  'no',
  False),
 (125,
  1,
  3,
  'male',
  12.0,
  1,
  0,
  11.2417,
  'C',
  'Third',
  'child',
  False,
  nan,
  'Cherbourg',
  'yes',
  False),
 (126,
  0,
  3,
  'male',
  nan,
  0,
  0,
  7.75,
  'Q',
  'Third',
  'man',
  True,
  nan,
  'Queenstown',
  'no',
  True),
 (127,
  1,
  3,
  'male',
  24.0,
  0,
  0,
  7.1417,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (128,
  1,
  3,
  'female',
  nan,
  1,
  1,
  22.3583,
  'C',
  'Third',
  'woman',
  False,
  'F',
  'Cherbourg',
  'yes',
  False),
 (129,
  0,
  3,
  'male',
  45.0,
  0,
  0,
  6.975,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (130,
  0,
  3,
  'male',
  33.0,
  0,
  0,
  7.8958,
  'C',
  'Third',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (131,
  0,
  3,
  'male',
  20.0,
  0,
  0,
  7.05,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (132,
  0,
  3,
  'female',
  47.0,
  1,
  0,
  14.5,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (133,
  1,
  2,
  'female',
  29.0,
  1,
  0,
  26.0,
  'S',
  'Second',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (134,
  0,
  2,
  'male',
  25.0,
  0,
  0,
  13.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (135,
  0,
  2,
  'male',
  23.0,
  0,
  0,
  15.0458,
  'C',
  'Second',
  'man',
  True,
  nan,
  'Cherbourg',
  'no',
  True),
 (136,
  1,
  1,
  'female',
  19.0,
  0,
  2,
  26.2833,
  'S',
  'First',
  'woman',
  False,
  'D',
  'Southampton',
  'yes',
  False),
 (137,
  0,
  1,
  'male',
  37.0,
  1,
  0,
  53.1,
  'S',
  'First',
  'man',
  True,
  'C',
  'Southampton',
  'no',
  False),
 (138,
  0,
  3,
  'male',
  16.0,
  0,
  0,
  9.2167,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (139,
  0,
  1,
  'male',
  24.0,
  0,
  0,
  79.2,
  'C',
  'First',
  'man',
  True,
  'B',
  'Cherbourg',
  'no',
  True),
 (140,
  0,
  3,
  'female',
  nan,
  0,
  2,
  15.2458,
  'C',
  'Third',
  'woman',
  False,
  nan,
  'Cherbourg',
  'no',
  False),
 (141,
  1,
  3,
  'female',
  22.0,
  0,
  0,
  7.75,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  True),
 (142,
  1,
  3,
  'female',
  24.0,
  1,
  0,
  15.85,
  'S',
  'Third',
  'woman',
  False,
  nan,
  'Southampton',
  'yes',
  False),
 (143,
  0,
  3,
  'male',
  19.0,
  0,
  0,
  6.75,
  'Q',
  'Third',
  'man',
  True,
  nan,
  'Queenstown',
  'no',
  True),
 (144,
  0,
  2,
  'male',
  18.0,
  0,
  0,
  11.5,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (145,
  0,
  2,
  'male',
  19.0,
  1,
  1,
  36.75,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  False),
 (146,
  1,
  3,
  'male',
  27.0,
  0,
  0,
  7.7958,
  'S',
  'Third',
  'man',
  True,
  nan,
  'Southampton',
  'yes',
  True),
 (147,
  0,
  3,
  'female',
  9.0,
  2,
  2,
  34.375,
  'S',
  'Third',
  'child',
  False,
  nan,
  'Southampton',
  'no',
  False),
 (148,
  0,
  2,
  'male',
  36.5,
  0,
  2,
  26.0,
  'S',
  'Second',
  'man',
  True,
  'F',
  'Southampton',
  'no',
  False),
 (149,
  0,
  2,
  'male',
  42.0,
  0,
  0,
  13.0,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (150,
  0,
  2,
  'male',
  51.0,
  0,
  0,
  12.525,
  'S',
  'Second',
  'man',
  True,
  nan,
  'Southampton',
  'no',
  True),
 (151,
  1,
  1,
  'female',
  22.0,
  1,
  0,
  66.6,
  'S',
  'First',
  'woman',
  False,
  'C',
  'Southampton',
  'yes',

In [ ]:
"""
for rowTuple in rows:
    rowTuple = tuple(rowTuple)
    insertQuery = f"insert into titanic_data values{rowTuple}"
    cur.execute(insertQuery)
"""

In [24]:
insertQuery2 = "insert into titanic_data values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
cur.executemany(insertQuery2, rowTuple2)

In [25]:
#%sql select name from sqlite_master where type = 'table'
selectQuery = "select * from titanic_data"
cur.execute(selectQuery)
print(cur.fetchall())

[('0', 0, 3, 'male', 22, 1, 0, 7.25, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('1', 1, 1, 'female', 38, 1, 0, 71.2833, 'C', 'First', 'woman', '0', 'C', 'Cherbourg', 'yes', '0'), ('2', 1, 3, 'female', 26, 0, 0, 7.925, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '1'), ('3', 1, 1, 'female', 35, 1, 0, 53.1, 'S', 'First', 'woman', '0', 'C', 'Southampton', 'yes', '0'), ('4', 0, 3, 'male', 35, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('5', 0, 3, 'male', None, 0, 0, 8.4583, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '1'), ('6', 0, 1, 'male', 54, 0, 0, 51.8625, 'S', 'First', 'man', '1', 'E', 'Southampton', 'no', '1'), ('7', 0, 3, 'male', 2, 3, 1, 21.075, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('8', 1, 3, 'female', 27, 0, 2, 11.1333, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('9', 1, 2, 'female', 14, 1, 0, 30.0708, 'C', 'Second', 'child', '0', None, 'Cherbourg', 'yes', '0'), ('10', 1, 3, 'female', 4, 1, 1, 16.7, 'S', 'Third', 'child', '0', 'G', 'Southampton', 'yes', '0'), ('11', 1, 1, 'female', 58, 0, 0, 26.55, 'S', 'First', 'woman', '0', 'C', 'Southampton', 'yes', '1'), ('12', 0, 3, 'male', 20, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('13', 0, 3, 'male', 39, 1, 5, 31.275, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('14', 0, 3, 'female', 14, 0, 0, 7.8542, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '1'), ('15', 1, 2, 'female', 55, 0, 0, 16, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '1'), ('16', 0, 3, 'male', 2, 4, 1, 29.125, 'Q', 'Third', 'child', '0', None, 'Queenstown', 'no', '0'), ('17', 1, 2, 'male', None, 0, 0, 13, 'S', 'Second', 'man', '1', None, 'Southampton', 'yes', '1'), ('18', 0, 3, 'female', 31, 1, 0, 18, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('19', 1, 3, 'female', None, 0, 0, 7.225, 'C', 'Third', 'woman', '0', None, 'Cherbourg', 'yes', '1'), ('20', 0, 2, 'male', 35, 0, 0, 26, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('21', 1, 2, 'male', 34, 0, 0, 13, 'S', 'Second', 'man', '1', 'D', 'Southampton', 'yes', '1'), ('22', 1, 3, 'female', 15, 0, 0, 8.0292, 'Q', 'Third', 'child', '0', None, 'Queenstown', 'yes', '1'), ('23', 1, 1, 'male', 28, 0, 0, 35.5, 'S', 'First', 'man', '1', 'A', 'Southampton', 'yes', '1'), ('24', 0, 3, 'female', 8, 3, 1, 21.075, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('25', 1, 3, 'female', 38, 1, 5, 31.3875, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('26', 0, 3, 'male', None, 0, 0, 7.225, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '1'), ('27', 0, 1, 'male', 19, 3, 2, 263, 'S', 'First', 'man', '1', 'C', 'Southampton', 'no', '0'), ('28', 1, 3, 'female', None, 0, 0, 7.8792, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('29', 0, 3, 'male', None, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('30', 0, 1, 'male', 40, 0, 0, 27.7208, 'C', 'First', 'man', '1', None, 'Cherbourg', 'no', '1'), ('31', 1, 1, 'female', None, 1, 0, 146.5208, 'C', 'First', 'woman', '0', 'B', 'Cherbourg', 'yes', '0'), ('32', 1, 3, 'female', None, 0, 0, 7.75, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('33', 0, 2, 'male', 66, 0, 0, 10.5, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('34', 0, 1, 'male', 28, 1, 0, 82.1708, 'C', 'First', 'man', '1', None, 'Cherbourg', 'no', '0'), ('35', 0, 1, 'male', 42, 1, 0, 52, 'S', 'First', 'man', '1', None, 'Southampton', 'no', '0'), ('36', 1, 3, 'male', None, 0, 0, 7.2292, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'yes', '1'), ('37', 0, 3, 'male', 21, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('38', 0, 3, 'female', 18, 2, 0, 18, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('39', 1, 3, 'female', 14, 1, 0, 11.2417, 'C', 'Third', 'child', '0', None, 'Cherbourg', 'yes', '0'), ('40', 0, 3, 'female', 40, 1, 0, 9.475, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('41', 0, 2, 'female', 27, 1, 0, 21, 'S', 'Second', 'woman', '0', None, 'Southampton', 'no', '0'), ('42', 0, 3, 'male', None, 0, 0, 7.8958, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '1'), ('43', 1, 2, 'female', 3, 1, 2, 41.5792, 'C', 'Second', 'child', '0', None, 'Cherbourg', 'yes', '0'), ('44', 1, 3, 'female', 19, 0, 0, 7.8792, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('45', 0, 3, 'male', None, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('46', 0, 3, 'male', None, 1, 0, 15.5, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '0'), ('47', 1, 3, 'female', None, 0, 0, 7.75, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('48', 0, 3, 'male', None, 2, 0, 21.6792, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '0'), ('49', 0, 3, 'female', 18, 1, 0, 17.8, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('50', 0, 3, 'male', 7, 4, 1, 39.6875, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('51', 0, 3, 'male', 21, 0, 0, 7.8, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('52', 1, 1, 'female', 49, 1, 0, 76.7292, 'C', 'First', 'woman', '0', 'D', 'Cherbourg', 'yes', '0'), ('53', 1, 2, 'female', 29, 1, 0, 26, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '0'), ('54', 0, 1, 'male', 65, 0, 1, 61.9792, 'C', 'First', 'man', '1', 'B', 'Cherbourg', 'no', '0'), ('55', 1, 1, 'male', None, 0, 0, 35.5, 'S', 'First', 'man', '1', 'C', 'Southampton', 'yes', '1'), ('56', 1, 2, 'female', 21, 0, 0, 10.5, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '1'), ('57', 0, 3, 'male', 28.5, 0, 0, 7.2292, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '1'), ('58', 1, 2, 'female', 5, 1, 2, 27.75, 'S', 'Second', 'child', '0', None, 'Southampton', 'yes', '0'), ('59', 0, 3, 'male', 11, 5, 2, 46.9, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('60', 0, 3, 'male', 22, 0, 0, 7.2292, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '1'), ('61', 1, 1, 'female', 38, 0, 0, 80, None, 'First', 'woman', '0', 'B', None, 'yes', '1'), ('62', 0, 1, 'male', 45, 1, 0, 83.475, 'S', 'First', 'man', '1', 'C', 'Southampton', 'no', '0'), ('63', 0, 3, 'male', 4, 3, 2, 27.9, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('64', 0, 1, 'male', None, 0, 0, 27.7208, 'C', 'First', 'man', '1', None, 'Cherbourg', 'no', '1'), ('65', 1, 3, 'male', None, 1, 1, 15.2458, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'yes', '0'), ('66', 1, 2, 'female', 29, 0, 0, 10.5, 'S', 'Second', 'woman', '0', 'F', 'Southampton', 'yes', '1'), ('67', 0, 3, 'male', 19, 0, 0, 8.1583, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('68', 1, 3, 'female', 17, 4, 2, 7.925, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('69', 0, 3, 'male', 26, 2, 0, 8.6625, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('70', 0, 2, 'male', 32, 0, 0, 10.5, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('71', 0, 3, 'female', 16, 5, 2, 46.9, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('72', 0, 2, 'male', 21, 0, 0, 73.5, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('73', 0, 3, 'male', 26, 1, 0, 14.4542, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '0'), ('74', 1, 3, 'male', 32, 0, 0, 56.4958, 'S', 'Third', 'man', '1', None, 'Southampton', 'yes', '1'), ('75', 0, 3, 'male', 25, 0, 0, 7.65, 'S', 'Third', 'man', '1', 'F', 'Southampton', 'no', '1'), ('76', 0, 3, 'male', None, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('77', 0, 3, 'male', None, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('78', 1, 2, 'male', 0.83, 0, 2, 29, 'S', 'Second', 'child', '0', None, 'Southampton', 'yes', '0'), ('79', 1, 3, 'female', 30, 0, 0, 12.475, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '1'), ('80', 0, 3, 'male', 22, 0, 0, 9, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('81', 1, 3, 'male', 29, 0, 0, 9.5, 'S', 'Third', 'man', '1', None, 'Southampton', 'yes', '1'), ('82', 1, 3, 'female', None, 0, 0, 7.7875, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('83', 0, 1, 'male', 28, 0, 0, 47.1, 'S', 'First', 'man', '1', None, 'Southampton', 'no', '1'), ('84', 1, 2, 'female', 17, 0, 0, 10.5, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '1'), ('85', 1, 3, 'female', 33, 3, 0, 15.85, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('86', 0, 3, 'male', 16, 1, 3, 34.375, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('87', 0, 3, 'male', None, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('88', 1, 1, 'female', 23, 3, 2, 263, 'S', 'First', 'woman', '0', 'C', 'Southampton', 'yes', '0'), ('89', 0, 3, 'male', 24, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('90', 0, 3, 'male', 29, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('91', 0, 3, 'male', 20, 0, 0, 7.8542, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('92', 0, 1, 'male', 46, 1, 0, 61.175, 'S', 'First', 'man', '1', 'E', 'Southampton', 'no', '0'), ('93', 0, 3, 'male', 26, 1, 2, 20.575, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('94', 0, 3, 'male', 59, 0, 0, 7.25, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('95', 0, 3, 'male', None, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('96', 0, 1, 'male', 71, 0, 0, 34.6542, 'C', 'First', 'man', '1', 'A', 'Cherbourg', 'no', '1'), ('97', 1, 1, 'male', 23, 0, 1, 63.3583, 'C', 'First', 'man', '1', 'D', 'Cherbourg', 'yes', '0'), ('98', 1, 2, 'female', 34, 0, 1, 23, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '0'), ('99', 0, 2, 'male', 34, 1, 0, 26, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '0'), ('100', 0, 3, 'female', 28, 0, 0, 7.8958, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '1'), ('101', 0, 3, 'male', None, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('102', 0, 1, 'male', 21, 0, 1, 77.2875, 'S', 'First', 'man', '1', 'D', 'Southampton', 'no', '0'), ('103', 0, 3, 'male', 33, 0, 0, 8.6542, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('104', 0, 3, 'male', 37, 2, 0, 7.925, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('105', 0, 3, 'male', 28, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('106', 1, 3, 'female', 21, 0, 0, 7.65, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '1'), ('107', 1, 3, 'male', None, 0, 0, 7.775, 'S', 'Third', 'man', '1', None, 'Southampton', 'yes', '1'), ('108', 0, 3, 'male', 38, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('109', 1, 3, 'female', None, 1, 0, 24.15, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '0'), ('110', 0, 1, 'male', 47, 0, 0, 52, 'S', 'First', 'man', '1', 'C', 'Southampton', 'no', '1'), ('111', 0, 3, 'female', 14.5, 1, 0, 14.4542, 'C', 'Third', 'child', '0', None, 'Cherbourg', 'no', '0'), ('112', 0, 3, 'male', 22, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('113', 0, 3, 'female', 20, 1, 0, 9.825, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('114', 0, 3, 'female', 17, 0, 0, 14.4583, 'C', 'Third', 'woman', '0', None, 'Cherbourg', 'no', '1'), ('115', 0, 3, 'male', 21, 0, 0, 7.925, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('116', 0, 3, 'male', 70.5, 0, 0, 7.75, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '1'), ('117', 0, 2, 'male', 29, 1, 0, 21, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '0'), ('118', 0, 1, 'male', 24, 0, 1, 247.5208, 'C', 'First', 'man', '1', 'B', 'Cherbourg', 'no', '0'), ('119', 0, 3, 'female', 2, 4, 2, 31.275, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('120', 0, 2, 'male', 21, 2, 0, 73.5, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '0'), ('121', 0, 3, 'male', None, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('122', 0, 2, 'male', 32.5, 1, 0, 30.0708, 'C', 'Second', 'man', '1', None, 'Cherbourg', 'no', '0'), ('123', 1, 2, 'female', 32.5, 0, 0, 13, 'S', 'Second', 'woman', '0', 'E', 'Southampton', 'yes', '1'), ('124', 0, 1, 'male', 54, 0, 1, 77.2875, 'S', 'First', 'man', '1', 'D', 'Southampton', 'no', '0'), ('125', 1, 3, 'male', 12, 1, 0, 11.2417, 'C', 'Third', 'child', '0', None, 'Cherbourg', 'yes', '0'), ('126', 0, 3, 'male', None, 0, 0, 7.75, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '1'), ('127', 1, 3, 'male', 24, 0, 0, 7.1417, 'S', 'Third', 'man', '1', None, 'Southampton', 'yes', '1'), ('128', 1, 3, 'female', None, 1, 1, 22.3583, 'C', 'Third', 'woman', '0', 'F', 'Cherbourg', 'yes', '0'), ('129', 0, 3, 'male', 45, 0, 0, 6.975, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('130', 0, 3, 'male', 33, 0, 0, 7.8958, 'C', 'Third', 'man', '1', None, 'Cherbourg', 'no', '1'), ('131', 0, 3, 'male', 20, 0, 0, 7.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('132', 0, 3, 'female', 47, 1, 0, 14.5, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('133', 1, 2, 'female', 29, 1, 0, 26, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '0'), ('134', 0, 2, 'male', 25, 0, 0, 13, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('135', 0, 2, 'male', 23, 0, 0, 15.0458, 'C', 'Second', 'man', '1', None, 'Cherbourg', 'no', '1'), ('136', 1, 1, 'female', 19, 0, 2, 26.2833, 'S', 'First', 'woman', '0', 'D', 'Southampton', 'yes', '0'), ('137', 0, 1, 'male', 37, 1, 0, 53.1, 'S', 'First', 'man', '1', 'C', 'Southampton', 'no', '0'), ('138', 0, 3, 'male', 16, 0, 0, 9.2167, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('139', 0, 1, 'male', 24, 0, 0, 79.2, 'C', 'First', 'man', '1', 'B', 'Cherbourg', 'no', '1'), ('140', 0, 3, 'female', None, 0, 2, 15.2458, 'C', 'Third', 'woman', '0', None, 'Cherbourg', 'no', '0'), ('141', 1, 3, 'female', 22, 0, 0, 7.75, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '1'), ('142', 1, 3, 'female', 24, 1, 0, 15.85, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('143', 0, 3, 'male', 19, 0, 0, 6.75, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '1'), ('144', 0, 2, 'male', 18, 0, 0, 11.5, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('145', 0, 2, 'male', 19, 1, 1, 36.75, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '0'), ('146', 1, 3, 'male', 27, 0, 0, 7.7958, 'S', 'Third', 'man', '1', None, 'Southampton', 'yes', '1'), ('147', 0, 3, 'female', 9, 2, 2, 34.375, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('148', 0, 2, 'male', 36.5, 0, 2, 26, 'S', 'Second', 'man', '1', 'F', 'Southampton', 'no', '0'), ('149', 0, 2, 'male', 42, 0, 0, 13, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('150', 0, 2, 'male', 51, 0, 0, 12.525, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('151', 1, 1, 'female', 22, 1, 0, 66.6, 'S', 'First', 'woman', '0', 'C', 'Southampton', 'yes', '0'), ('152', 0, 3, 'male', 55.5, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('153', 0, 3, 'male', 40.5, 0, 2, 14.5, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('154', 0, 3, 'male', None, 0, 0, 7.3125, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('155', 0, 1, 'male', 51, 0, 1, 61.3792, 'C', 'First', 'man', '1', None, 'Cherbourg', 'no', '0'), ('156', 1, 3, 'female', 16, 0, 0, 7.7333, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('157', 0, 3, 'male', 30, 0, 0, 8.05, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('158', 0, 3, 'male', None, 0, 0, 8.6625, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('159', 0, 3, 'male', None, 8, 2, 69.55, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('160', 0, 3, 'male', 44, 0, 1, 16.1, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('161', 1, 2, 'female', 40, 0, 0, 15.75, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '1'), ('162', 0, 3, 'male', 26, 0, 0, 7.775, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('163', 0, 3, 'male', 17, 0, 0, 8.6625, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('164', 0, 3, 'male', 1, 4, 1, 39.6875, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('165', 1, 3, 'male', 9, 0, 2, 20.525, 'S', 'Third', 'child', '0', None, 'Southampton', 'yes', '0'), ('166', 1, 1, 'female', None, 0, 1, 55, 'S', 'First', 'woman', '0', 'E', 'Southampton', 'yes', '0'), ('167', 0, 3, 'female', 45, 1, 4, 27.9, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('168', 0, 1, 'male', None, 0, 0, 25.925, 'S', 'First', 'man', '1', None, 'Southampton', 'no', '1'), ('169', 0, 3, 'male', 28, 0, 0, 56.4958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('170', 0, 1, 'male', 61, 0, 0, 33.5, 'S', 'First', 'man', '1', 'B', 'Southampton', 'no', '1'), ('171', 0, 3, 'male', 4, 4, 1, 29.125, 'Q', 'Third', 'child', '0', None, 'Queenstown', 'no', '0'), ('172', 1, 3, 'female', 1, 1, 1, 11.1333, 'S', 'Third', 'child', '0', None, 'Southampton', 'yes', '0'), ('173', 0, 3, 'male', 21, 0, 0, 7.925, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('174', 0, 1, 'male', 56, 0, 0, 30.6958, 'C', 'First', 'man', '1', 'A', 'Cherbourg', 'no', '1'), ('175', 0, 3, 'male', 18, 1, 1, 7.8542, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('176', 0, 3, 'male', None, 3, 1, 25.4667, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('177', 0, 1, 'female', 50, 0, 0, 28.7125, 'C', 'First', 'woman', '0', 'C', 'Cherbourg', 'no', '1'), ('178', 0, 2, 'male', 30, 0, 0, 13, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('179', 0, 3, 'male', 36, 0, 0, 0, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('180', 0, 3, 'female', None, 8, 2, 69.55, 'S', 'Third', 'woman', '0', None, 'Southampton', 'no', '0'), ('181', 0, 2, 'male', None, 0, 0, 15.05, 'C', 'Second', 'man', '1', None, 'Cherbourg', 'no', '1'), ('182', 0, 3, 'male', 9, 4, 2, 31.3875, 'S', 'Third', 'child', '0', None, 'Southampton', 'no', '0'), ('183', 1, 2, 'male', 1, 2, 1, 39, 'S', 'Second', 'child', '0', 'F', 'Southampton', 'yes', '0'), ('184', 1, 3, 'female', 4, 0, 2, 22.025, 'S', 'Third', 'child', '0', None, 'Southampton', 'yes', '0'), ('185', 0, 1, 'male', None, 0, 0, 50, 'S', 'First', 'man', '1', 'A', 'Southampton', 'no', '1'), ('186', 1, 3, 'female', None, 1, 0, 15.5, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '0'), ('187', 1, 1, 'male', 45, 0, 0, 26.55, 'S', 'First', 'man', '1', None, 'Southampton', 'yes', '1'), ('188', 0, 3, 'male', 40, 1, 1, 15.5, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '0'), ('189', 0, 3, 'male', 36, 0, 0, 7.8958, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('190', 1, 2, 'female', 32, 0, 0, 13, 'S', 'Second', 'woman', '0', None, 'Southampton', 'yes', '1'), ('191', 0, 2, 'male', 19, 0, 0, 13, 'S', 'Second', 'man', '1', None, 'Southampton', 'no', '1'), ('192', 1, 3, 'female', 19, 1, 0, 7.8542, 'S', 'Third', 'woman', '0', None, 'Southampton', 'yes', '0'), ('193', 1, 2, 'male', 3, 1, 1, 26, 'S', 'Second', 'child', '0', 'F', 'Southampton', 'yes', '0'), ('194', 1, 1, 'female', 44, 0, 0, 27.7208, 'C', 'First', 'woman', '0', 'B', 'Cherbourg', 'yes', '1'), ('195', 1, 1, 'female', 58, 0, 0, 146.5208, 'C', 'First', 'woman', '0', 'B', 'Cherbourg', 'yes', '1'), ('196', 0, 3, 'male', None, 0, 0, 7.75, 'Q', 'Third', 'man', '1', None, 'Queenstown', 'no', '1'), ('197', 0, 3, 'male', 42, 0, 1, 8.4042, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '0'), ('198', 1, 3, 'female', None, 0, 0, 7.75, 'Q', 'Third', 'woman', '0', None, 'Queenstown', 'yes', '1'), ('199', 0, 2, 'female', 24, 0, 0, 13, 'S', 'Second', 'woman', '0', None, 'Southampton', 'no', '1'), ('200', 0, 3, 'male', 28, 0, 0, 9.5, 'S', 'Third', 'man', '1', None, 'Southampton', 'no', '1'), ('201', 0, 3, 'male', None, 8, 2, 69.55, 'S', 'Third', 'man', '1', None, 'So

In [26]:
sqlDF = pd.read_sql_query(selectQuery, conn)
sqlDF

,ID,survived,pclass,sex,age,sibsp,parch,fare,embarked,classes,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,1,None,Southampton,no,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,0,None,Southampton,yes,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,0,C,Southampton,yes,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,1,None,Southampton,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,896,0,3,female,31.0,1,0,18.0000,S,Third,woman,0,None,Southampton,no,0
897,897,1,3,female,NaN,0,0,7.2250,C,Third,woman,0,None,Cherbourg,yes,1
898,898,0,2,male,35.0,0,0,26.0000,S,Second,man,1,None,Southampton,no,1
899,899,1,2,male,34.0,0,0,13.0000,S,Second,man,1,D,Southampton,yes,1
900,900,1,3,female,15.0,0,0,8.0292,Q,Third,child,0,None,Queenstown,yes,1